/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*------------------------------------------------------------------------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', Helvetica, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(143, 16, 247), #5d0179);
}

.App {
  text-align: center;
  width: 85%;
  height: 85%;
}

.main-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.highlighted {
  text-shadow: 2px 2px 2px whitesmoke;
}