.users-online {
  padding: 0.5rem;
  margin: 0;
  width: 25%;
  height: 100%;
  background-color: #5d0179; /* same as: rgba(93, 1, 121, 1); */
  color: white;
  list-style-type: none;
  overflow: auto;
}

#public-tab {
  background-color: #8700b1;
  width: 100%;
  height: 2.5rem;
  color: white;
  line-height: 2.5rem;
  cursor: pointer;
}

